div
  h1= title

  form(method='post', action=prefix+'create')
    each val, key in model.schema.paths
      if key != '_id'
        label(for=key) #{key}
        - var inputType = 'text';
        if val.instance == 'Number'
          - inputType = 'number';
        else if val.instance == 'ObjectID'
          - inputType = false
          select(id=key)
        if inputType
          input(type=inputType, value=val.instance, id=key, name=key)
    input(type='submit')
