div
  h1= title

  h2 update

  form(method='post', action=prefix+'update')
    each val, key in model.schema.paths
      if key == '_id'
        input(type='hidden', id='_id', name='_id', value=model[key])
      else
        label(for=key) #{key}
        - var inputType = 'text';
        if val.instance == 'Number'
          - inputType = 'number';
        if inputType
          input(type=inputType, id=key, name=key, value=model[key])
    input(type='submit')